body{
    text-align: center;
}

#other{
    display: none;
}

.search{
    padding-bottom: 20px;
}


input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 250px;
	width: calc(100% - 2em);
	vertical-align: top;
    font-size: 20px;
}

.user-row {
    margin: 20px 0px 20px 0px;
}

.user-img {
    width: 50px;
}

.user-img:hover {
    cursor: pointer;
}

footer {
    background-color:#222222;
    padding-top:50px;
    padding-bottom:40px;
    color: #5e5e5e;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

.footer-heading{
    font-size: 20px;
    font-weight: 200;
}

.footer-content{
    float: right;
}

